<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326676021401-fnfo6p9v2cnba7njav3qp0ltpb3m5cdv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326676021401-fnfo6p9v2cnba7njav3qp0ltpb3m5cdv</string>
	<key>API_KEY</key>
	<string>AIzaSyAiy4mH0qYVnBdC23OZ8AvS2smambpGZdI</string>
	<key>GCM_SENDER_ID</key>
	<string>326676021401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sarahau.finalProject</string>
	<key>PROJECT_ID</key>
	<string>knubby-f75db</string>
	<key>STORAGE_BUCKET</key>
	<string>knubby-f75db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326676021401:ios:1e9832a6ed76f82f88b808</string>
</dict>
</plist>